html{
    background-color:rgb(1, 6, 10);
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mylogo{
    justify-self:left;
    font-style:italic;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkred;
 
}
.nav li{
    display: inline-block;
    margin-right: 20px;
     
}
header img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    max-height: 150px;
    max-width: 1000px;
     
}
    
.dealer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    max-height: 200px;
    max-width: 750px;
    border: 1px solid black;
    padding-top: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.select{
    grid-row-start: 1;
    grid: row end 5px;
    grid-column: 1;
    justify-items: left;
    border: 3px solid seashell;
    font-size: 2em;
    
}
h1{
    text-align: center;
    padding-top: 50px;
    font-size: 5em;
}
p{
    text-align: center;
    font-size: 1.5em;
}

#status{
    margin-bottom: 30px;

}

footer{
    display: flex;
    flex-direction: row;
    
    bottom: 0;
    justify-content: space-between;
    width: 100%;

}
.copy{
    font-size: 0.8em;
}
.tkit {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}
.kits{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}