html{
    background-color:rgb(1, 6, 10);
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mylogo{
    justify-self:left;
    font-style:italic;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkred;
}
.nav li{
    display: inline-block;
    margin-right: 20px;
      
}
header img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    max-height: 150px;
    max-width: 1000px;
     
}

.dealer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    max-height: 200px;
    max-width: 750px;
    border: 1px solid black;
    padding-top: 20px;
}
body{
    display: grid;

}
h1{
    text-align: center;
    padding-top: 50px;
    font-size: 5em;
    background-color: slategray;
    border: 5px solid white;
    padding-top: 10px;
}
p{
    text-align: center;
    font-size: 1.5em;
}
.select{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;  
   
}
.menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
 
    grid-gap: 10px;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
.shop .menu {
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-gap: 10px;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
.category .menu {
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-gap: 10px;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
.user .menu {
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-gap: 10px;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
.status .menu {
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-gap: 10px;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
.display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    gap: 10px;
    justify-content: space-around;
    border: 5px solid white;
    border-radius: 10px;
    overflow: scroll;
    padding: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: slategray;
    color: black;
    font-weight: bold;
    
}
.display input{
    width: 100%;
    height: 20px;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
}
.list1{
    border: 2px solid rgb(4, 19, 102);
}
.listline{
 width: 90%;  
 padding: 5px; 
}
#submit {
 
    background-color: rgb(255, 255, 255);
    justify-self: center;
      
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid rgb(255, 249, 249);
    font-size: 1.5em;
    border: 3px solid black;
    border-radius: 5px;
}
#submit:active{
    background-color: green;
}
footer{
    display: flex;
    flex-direction: row;
    background-color:gray;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    position: fixed
}