html{
    background-color:rgb(1, 6, 10);
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mylogo{
    justify-self:left;
    font-style:italic;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkred;
}
.nav li{
    display: inline-block;
    margin-right: 20px;
      
}
header img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    max-height: 150px;
    max-width: 1000px;
     
}

.dealer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    max-height: 200px;
    max-width: 750px;
    border: 1px solid black;
    padding-top: 20px;
}
h1{
    text-align: center;
    padding-top: 50px;
    font-size: 5em;
    background-color: slategray;
    border: 5px solid white;
    padding-top: 10px;
}
p{
    text-align: center;
    font-size: 1.5em;
}
h2{
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
    background-color: slategray;
    border: 5px solid white;
    padding-top: 10px;
    padding-bottom: 20px;
    color: black;
    font-weight: bolder;
}
.tool{
    
    margin: 0 auto;
    display: block;
    max-height: 200px;
    max-width: 750px;
    border: 1px solid black;
    padding-top: 20px;
}
.selected{
    border: 3px solid white;
    background-color: slategray;
    color: black;
    font-weight: bold;;
    
}
.listline{
    border: 1px solid black
}
footer{
    display: flex;
    flex-direction: row;
    background-color:gray;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    position: fixed
}